<div class="row">
	<div class="portlet light">
		<div class="portlet-title">
			<div class="caption font-red-sunglo">
				<i class="icon-check font-red-sunglo"></i> <span
					class="caption-subject bold uppercase"> {{role.name}}权限设置</span>
			</div>
		</div>
		<div class="portlet-body form">
			<form role="form">
				<div class="form-group form-md-checkboxes"
					ng-repeat="appType in appTypes" ng-show="appType.apps.length > 0">
					<label>{{appType.name}}</label>
					<div class="md-checkbox-inline">
						<div class="md-checkbox" ng-repeat="app in appType.apps">
							<input type="checkbox" id="{{app.id}}" class="md-check">
							<label for="{{app.id}}"> <span></span> <span
								class="check"></span> <span class="box"></span> {{app.name}}
							</label>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-md-offset-2 col-md-10">
							<button type="button" class="btn default" ng-click="cancel()">取消</button>
							<button type="button" class="btn blue" ng-click="save()">保存</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>