<div class="row">
	<div class="col-md-12">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-speech"></i> <span
						class="caption-subject bold uppercase"> 标签列表</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-default btn-sm" ng-click="addLabel()">
					<i class="fa fa-plus"></i> 新增标签 </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>
							 #
						</th>
						<th>
							 名称
						</th>
						<th>
							 等级
						</th>
						<th>
							 是否启用
						</th>
						<th>
						</th>
					</tr>
					</thead>
						<tbody>
							<tr ng-repeat="item in list" ng-class="{'active':$index%2==0,'success':$index%2==1}">
								<td ng-bind="$index+1"></td>
								<td ng-bind="item.name"></td>
								<td>
									{{item.level | levelFilter}}
								</td>
								<td>
									{{item.status | status}}
								</td>
								<td>
									<a href="javascript:;" class="btn default btn-xs blue-stripe" ng-click="editLabel($index)">
										<i class="fa fa-edit"></i> 编辑 </a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include src="'/arwen/bizs/investigate/ql/view/question-label-form.html'"></div>