<div class="row" >
	<div class="col-md-12">
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>问卷类型
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-default btn-sm" ng-click="addType()">
					<i class="fa fa-pencil"></i> 添加类型 </a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th>类型</th>
							<th>状态</th>
							<th width="5%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in list">
							<td ng-bind="$index+1" style="vertical-align: middle;"></td>
							<td ng-bind="item.name"></td>
							<td>{{item.status | status}}</td>
							<td>
								<a href="javascript:;" class="btn default btn-xs blue-stripe" ng-click="editType($index)">
									<i class="fa fa-edit"></i> 编辑 </a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div ng-include src="'/arwen/bizs/investigate/qat/view/questionaire-type-form.html'"></div>