<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8"/>
<title>调研系统</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="resources/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="resources/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="resources/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="resources/metronic/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="resources/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE STYLES -->
<link href="resources/metronic/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="resources/metronic/assets/global/css/components-rounded.css" rel="stylesheet" type="text/css"/>
<link href="resources/metronic/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="resources/metronic/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="resources/metronic/assets/admin/layout4/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="resources/metronic/assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo" ng-controller="DesktopController">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<div class="page-header-inner">
		<div class="page-logo">
			<a href="javaScript:;">
			<img src="resources/metronic/assets/admin/layout4/img/logo-light.png" alt="logo" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler">
			</div>
		</div>
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<div class="page-top">
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="javaScript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="resources/metronic/assets/admin/layout2/img/avatar.png"/>
						<span class="username username-hide-on-mobile" ng-bind="account.name">
						</span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="javaScript:;" ng-click="loginout()">
								<i class="icon-key"></i> 退出 </a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="clearfix">
</div>
<div class="page-container">
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<li ng-repeat="appType in authTree" data-id="{{appType.id}}">
					<a href="javascript:;" class="app-type-menu" ng-click="appTypeClick(appType.id)">
					<i class="{{appType.iconClass}}"></i>
					<span class="title">{{appType.name}}</span>
					<span class="arrow " data-id="{{appType.id}}"></span>
					</a>
					<ul class="sub-menu">
						<li ng-repeat="app in appType.apps" data-id="{{app.id}}">
							<a href="{{'/arwen/#/'+app.stateName}}" ng-click="appClick(app.id)">
							<i class="{{app.iconClass}}"></i>
							{{app.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="page-content-wrapper">
		<div class="page-content">
			<div ui-view></div>
		</div>
	</div>
</div>
<div class="page-footer">
	<div class="page-footer-inner">
		2014 &copy; Metronic by keenthemes.
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>

<script type="text/javascript" data-main="main" src="resources/requirejs/require.js" charset="UTF8"></script>
</body>
</html>