<div class="row">
	<div class="col-md-12 ">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-red-sunglo">
					<i class="icon-settings font-red-sunglo"></i>
					<span class="caption-subject bold uppercase">问卷编辑</span>
				</div>
				<div class="actions question_content" style="display:none">
					<a href="#question_level_1" class="btn btn-default btn-sm" data-toggle="modal">
					<i class="fa fa-plus"></i> 新增大题 </a>
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form" class="base_info_form">
					<div class="form-body">
						<div class="form-group form-md-line-input">
							<input type="text" class="form-control" id="form_control_1" ng-model="qa.title">
							<label for="form_control_1">主标题</label>
						</div>
						<div class="form-group form-md-line-input">
							<input type="text" class="form-control" id="form_control_1" ng-model="qa.subtitle">
							<label for="form_control_1">副标题</label>
						</div>
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">是否记名</label>
							<div class="col-md-10">
								<div class="md-radio-inline">
									<div class="md-radio">
										<input type="radio" id="nameless1" name="nameless" class="md-radiobtn" value="NO" ng-model="qa.nameless">
										<label for="nameless1">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										否</label>
									</div>
									<div class="md-radio">
										<input type="radio" id="nameless2" name="nameless" class="md-radiobtn" value="YES" ng-model="qa.nameless">
										<label for="nameless2">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										是</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<textarea class="form-control" rows="3" ng-model="qa.desp"></textarea>
							<label for="form_control_1">问卷说明</label>
						</div>
					</div>
					<div class="form-actions noborder">
						<button type="button" class="btn blue" ng-click="save()">保存</button>
						<button type="button" class="btn default" ng-click="goToList()">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>