<div class="row" ng-show="!ctl.showQuesionPanel">
	<div class="col-md-12 ">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-red-sunglo">
					<i class="icon-settings font-red-sunglo"></i>
					<span class="caption-subject bold uppercase">问卷编辑</span>
				</div>
				<div class="actions question_content" ng-show="!editBaseInfo">
					<a href="javaScript:;" class="btn btn-default btn-sm" ng-click="addTopic()">
					<i class="fa fa-plus"></i> 新增大题 </a>
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form" class="base_info_form" ng-show="editBaseInfo">
					<div class="form-body">
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">主标题</label>
							<div class="col-md-10">
								<input type="text" class="form-control" id="form_control_1" placeholder="主标题" ng-model="qa.title">
								<div class="form-control-focus">
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">副标题</label>
							<div class="col-md-10">
								<input type="text" class="form-control" id="form_control_1" placeholder="副标题" ng-model="qa.subtitle">
								<div class="form-control-focus">
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">是否记名</label>
							<div class="col-md-10">
								<div class="md-radio-inline">
									<div class="md-radio">
										<input type="radio" id="nameless1" name="nameless" class="md-radiobtn" value="NO" ng-model="qa.nameless">
										<label for="nameless1">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										否</label>
									</div>
									<div class="md-radio">
										<input type="radio" id="nameless2" name="nameless" class="md-radiobtn" value="YES" ng-model="qa.nameless">
										<label for="nameless2">
										<span></span>
										<span class="check"></span>
										<span class="box"></span>
										是</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">有效时间</label>
							<div class="col-md-10">
								<div class="input-group date form_datetime date-time-picker">
									<input type="text" size="16" readonly="" class="form-control" ng-model="qa.expireDate">
									<span class="input-group-btn">
									<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
								<div class="form-control-focus">
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">问卷类型</label>
							<div class="col-md-10">
								<select class="form-control" id="form_control_1" ng-model="qa.type">
									<option value="type.name" ng-repeat="type in typeList">{{type.name}}</option>
								</select>
								<div class="form-control-focus">
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">问卷说明</label>
							<div class="col-md-10">
								<textarea class="form-control" rows="3" ng-model="qa.desp"></textarea>
								<div class="form-control-focus">
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions noborder">
						<button type="button" class="btn blue" ng-click="save()">保存</button>
						<button type="button" class="btn default" ng-click="goToList()">取消</button>
					</div>
				</form>
				<div class="qa-panel" ng-show="!editBaseInfo">
					<div class="qa-base-info">
						<div class="qa-title" title="编辑基本信息" ng-click="edit()"><span ng-bind="qa.title"></span></div>
						<div class="qa-subtitle"><span ng-bind="qa.subtitle"></span></div>
						<div class="qa-desp" ng-bind="qa.desp"></div>
					</div>
					<div class="qa-topic-list">
						<div class="qa-topic-panel" ng-repeat="topic in qa.topics">
							<div class="qa-topic-title" context-menu option="contextOption" before-show="beforeShow(e)" tid="{{topic.id}}"><span class="qa-topic-title-num" ng-bind="topic.num"></span><span ng-bind="topic.subject"></span></div>
							<div class="qa-question-list">
								<div class="qa-question-panel" ng-repeat="question in topic.questions" context-menu option="contextOption1" before-show="beforeShow(e)" tid="{{topic.id}}" qid="{{question.id}}" ng-switch on="question.type">
									<div ng-switch-when="SINGLE_SELECTION" selection-panel question="question"></div>
									<div ng-switch-when="MULTI_SELECTIION" selection-panel question="question"></div>
									<div ng-switch-when="SUBJECTIVITY" subjectivity-panel question="question"></div>
									<div ng-switch-when="SORT" selection-panel question="question"></div>
									<div ng-switch-when="MARK" selection-panel question="question"></div>
									<div ng-switch-when="GRADE" selection-panel question="question"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include src="'/arwen/bizs/investigate/qa/view/qa-topic-edit.html'"></div>

<div id="context-menu2">
	<ul class="dropdown-menu pull-left" role="menu">
		<li>
			<a href="javascript:;" ng-click="contextEdit()">
			<i class="icon-present"></i> 编辑 </a>
		</li>
		<li>
			<a href="javascript:;" ng-click="addQuestion()">
			<i class="icon-flag"></i> 添加题目
			</a>
		</li>
	</ul>
</div>

<div id="context-menu">
	<ul class="dropdown-menu pull-left" role="menu">
		<li>
			<a href="javascript:;" ng-click="removeQuestion()">
			<i class="icon-present"></i> 删除 </a>
		</li>
		<li>
			<a href="javascript:;" ng-click="addQuestion()">
			<i class="icon-flag"></i> 添加题目
			</a>
		</li>
	</ul>
</div>

<div ng-show="ctl.showQuesionPanel" ng-controller="QuestionAddController">
	<div ng-include src="'/arwen/bizs/investigate/qa/view/qa-question-add-panel.html'"></div>
</div>
